<!DOCTYPE html>
<html lang="en">
<head>
  {% if site.github and site.github.build_revision %}
    {% assign asset_version = site.github.build_revision %}
  {% else %}
    {% assign asset_version = site.time | date: "%s" %}
  {% endif %}
  {% include lh-head.html %}
</head>
<body>
  {% include lh-nav.html %}
  <main id="main-content">
    {{ content }}
  </main>
  {% include lh-footer.html %}
  <script src="{{ '/assets/js/main.js' | relative_url }}?v={{ asset_version }}"></script>
</body>
</html>
